//color
$white: white;
$black: black;
$red: #d00a2b;

//font-size
$x-large: 3.5rem;
$large: 2.5rem;
$medium: 2rem;
$small-medium: 1.25rem;
$small: 1rem;
$x-small: 0.75rem;

//font-family
$body: 'Open Sans', sans-serif;
//$heading: 'Playfair Display', sans-serif;
$heading: 'Open Sans', sans-serif;
