html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loading {
  background-color: black;
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
    background-color: #d00a2b;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
    background-color: #d00a2b;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .box .title {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-bottom: 20px;
}

.container .box .title .block {
  width: 0%;
  height: inherit;
  background: #d00a2b;
  position: absolute;
  -webkit-animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .box .title h1 {
  color: black;
  -webkit-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}

.container .box .title h1 span {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #d00a2b;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}

.container .box .role {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  margin-top: -10px;
}

.container .box .role .block {
  width: 0%;
  height: inherit;
  background: #d00a2b;
  position: absolute;
  -webkit-animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .box .role p {
  -webkit-animation: secFadeIn 2s forwards;
          animation: secFadeIn 2s forwards;
  -webkit-animation-delay: 5.2s;
          animation-delay: 5.2s;
  opacity: 0;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@-webkit-keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #d00a2b;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #d00a2b;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #d00a2b;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #d00a2b;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #d00a2b;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #d00a2b;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@-webkit-keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes icon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3) rotate(-2deg);
            transform: scale(1.3) rotate(-2deg);
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes icon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3) rotate(-2deg);
            transform: scale(1.3) rotate(-2deg);
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html {
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  scrollbar-width: none;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  -webkit-animation: fadein 2s linear 1.8s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 2s linear 1.8s;
}

@keyframes fadein {
  from {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  to {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  to {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

/* Internet Explorer */

/* Opera < 12.1 */

section:not(section:nth-of-type(1)) {
  scroll-snap-align: center;
}

section:nth-of-type(5) {
  scroll-snap-align: end !important;
}

section:nth-of-type(1) {
  height: calc(100vh - 100px) !important;
}

section {
  width: 100%;
  height: 100vh;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3.5rem;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1rem;
  }
}

h2 {
  font-size: 2.5rem;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  h3 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
}

ul {
  list-style: none;
}

a, button {
  color: inherit;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  text-decoration: none;
}

.topBtn {
  display: none;
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 3;
  border: none;
  outline: none;
  background-color: #d00a2b;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
}

.topBtn:hover, .topBtn:focus {
  opacity: 0.5;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(75%, transparent), color-stop(75%, black), to(black));
  background: linear-gradient(to right, transparent 0%, transparent 75%, black 75%, black 100%);
}

header > div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 77.5%;
  height: 100%;
}

header .main-header .logo {
  width: 20%;
  font-size: 2.5rem;
}

@media (max-width: 900px) {
  header .main-header .logo {
    width: 10%;
  }
}

header .main-header .logo span {
  color: #d00a2b;
}

header .main-header nav {
  width: 80%;
}

@media (max-width: 600px) {
  header .main-header nav {
    display: none;
  }
}

header .main-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main-header nav ul li {
  padding: 20px;
}

@media (max-width: 1200px) {
  header .main-header nav ul li {
    padding: 15px;
  }
}

@media (max-width: 900px) {
  header .main-header nav ul li {
    padding: 8px;
    font-size: 0.85rem;
  }
}

header .main-header nav ul li:hover a {
  cursor: pointer;
  color: #d00a2b;
}

header .main-header nav ul li:hover {
  cursor: pointer;
}

header .main-header nav ul a {
  text-decoration: none;
  color: black;
}

header .main-header nav ul a:visited {
  color: black;
}

header .main-header nav ul a:active {
  color: black;
}

header .sub-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22.5%;
  height: 100%;
}

header .sub-header button {
  width: 100px;
  height: 50px;
  color: white;
  background-color: #d00a2b;
  border: none;
}

header .sub-header button:hover, header .sub-header button:focus {
  cursor: pointer;
  color: #d00a2b;
  background-color: white;
  border: 2px solid #d00a2b;
}

.fa-chevron-down {
  font-size: 2.5rem;
  position: absolute;
  bottom: 10%;
  -webkit-animation: highlight 1.2s linear infinite;
          animation: highlight 1.2s linear infinite;
}

.fa-chevron-down:hover, .fa-chevron-down:focus {
  cursor: pointer;
  color: #d00a2b;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 600px) {
  .fa-chevron-down {
    display: none;
  }
}

@-webkit-keyframes highlight {
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes highlight {
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

.landing {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100vh - 100px);
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(75%, transparent), color-stop(75%, black), to(black));
  background: linear-gradient(to right, transparent 0%, transparent 75%, black 75%, black 100%);
}

.landing .wrapper {
  height: 100%;
}

.landing .landing-details {
  padding: 10px;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .landing .landing-details h1 {
    font-size: 2rem;
  }
}

.landing .landing-details h1, .landing .landing-details h2 {
  text-align: end;
}

.landing .landing-details p {
  text-align: center;
}

.landing .landing-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .landing-details ul li {
  margin: 0 10px;
}

.landing .landing-details i {
  color: #d00a2b;
  font-size: 2rem;
}

.landing .landing-details i:hover, .landing .landing-details i:focus {
  cursor: pointer;
  color: black;
}

.landing .image-container-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: calc(12.5vw - 25px);
  right: 12.5vw;
  width: 25vw;
  height: 25vw;
  border: 2px solid white;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .landing .image-container-border {
    width: 45vw;
    height: 45vw;
  }
}

.landing .image-container-border .image-container {
  background-image: url(../../assets/header.jpg);
  background-size: cover;
  position: absolute;
  width: 23vw;
  height: 23vw;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .landing .image-container-border .image-container {
    width: 40vw;
    height: 40vw;
  }
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .intro > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro > div .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

@media (max-width: 600px) {
  .intro > div .image-container {
    width: 100%;
  }
}

.intro > div .image-container .profile-image {
  width: 150px;
  height: 172px;
  margin: 8px;
}

@media (max-width: 900px) {
  .intro > div .image-container .profile-image {
    width: 100px;
    height: 115px;
    margin: 6px;
  }
}

.intro > div .image-container .samsung:hover, .intro > div .image-container .flight-centre:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.intro > div .image-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro > div .image-container > div img {
  width: 150px;
  height: 150px;
  margin: 8px;
}

@media (max-width: 900px) {
  .intro > div .image-container > div img {
    width: 100px;
    height: 100px;
    margin: 6px;
  }
}

.intro > div .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

@media (max-width: 600px) {
  .intro > div .contents {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (max-width: 600px) {
  .intro > div .contents h1 {
    font-size: 1.25rem;
  }
}

.intro > div .contents p {
  line-height: 1.5rem;
  padding: 0 10px;
}

.intro > div .contents p strong {
  font-weight: bold;
}

@media (max-width: 600px) {
  .intro > div .contents p {
    font-size: 0.85rem;
  }
}

.intro > div .contents span {
  color: #d00a2b;
}

.skills {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(71%, black), color-stop(71%, white), to(white));
  background: linear-gradient(to right, black 0%, black 71%, white 71%, white 100%);
}

@media (max-width: 600px) {
  .skills {
    background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(45%, black), color-stop(45%, white), to(white));
    background: linear-gradient(to bottom, black 0%, black 45%, white 45%, white 100%);
  }
}

.skills > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .skills > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.skills > div .ability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(75vw - 5%);
}

@media (max-width: 600px) {
  .skills > div .ability {
    width: 100%;
    height: 45%;
  }
}

.skills > div .ability h1 {
  color: white;
  width: 85%;
}

.skills > div .ability h1 span {
  color: #d00a2b;
}

.skills > div .symbols {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  .skills > div .symbols {
    width: 100%;
  }
}

.skills > div .symbols .img-symbols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .skills > div .symbols .img-symbols .last-child-symbol {
    display: none;
  }
}

.skills > div .symbols .img-symbols > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 75px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid white;
  margin: 10px;
}

@media (max-width: 1200px) {
  .skills > div .symbols .img-symbols > div {
    font-size: 0.85rem;
    width: 60px;
    height: 75px;
    margin: 5px;
  }
}

@media (max-width: 600px) {
  .skills > div .symbols .img-symbols > div {
    width: 55px;
    height: 75px;
    margin: 2px;
  }
}

.skills > div .symbols .img-symbols > div:hover, .skills > div .symbols .img-symbols > div > :focus {
  color: #d00a2b;
  border: 2px solid #d00a2b;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.skills > div .symbols .img-symbols > div > div {
  width: 55px;
  height: 55px;
  z-index: 2;
}

.skills > div .symbols .img-symbols i {
  font-size: 55px;
}

@media (max-width: 1200px) {
  .skills > div .symbols .img-symbols i {
    font-size: 50px;
  }
}

.skills > div .symbols .img-symbols span {
  font-size: 0.85rem;
}

.skills > div .symbols .img-symbols .symbol-container1:hover .jquery-symbol, .skills > div .symbols .img-symbols .symbol-container1:focus .jquery-symbol {
  background: url(../../assets/jquery-red.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .jquery-symbol {
  background: url(../../assets/jquery.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .symbol-container2:hover .firebase-symbol, .skills > div .symbols .img-symbols .symbol-container2:focus .firebase-symbol {
  background: url(../../assets/firebase-red.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .firebase-symbol {
  background: url(../../assets/firebase.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .symbol-container3:hover .api-symbol, .skills > div .symbols .img-symbols .symbol-container3:focus .api-symbol {
  background: url(../../assets/api-red.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .api-symbol {
  background: url(../../assets/api.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .symbol-container4:hover .nodejs-symbol, .skills > div .symbols .img-symbols .symbol-container4:focus .nodejs-symbol {
  background: url(../../assets/node-red.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .nodejs-symbol {
  background: url(../../assets/node.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .symbol-container5:hover .res-symbol, .skills > div .symbols .img-symbols .symbol-container5:focus .res-symbol {
  background: url(../../assets/responsive-red.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .res-symbol {
  background: url(../../assets/responsive.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .symbol-container6:hover .acc-symbol, .skills > div .symbols .img-symbols .symbol-container6:focus .acc-symbol {
  background: url(../../assets/accessibility-red.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .acc-symbol {
  background: url(../../assets/accessibility.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .symbol-container7:hover .agile-symbol, .skills > div .symbols .img-symbols .symbol-container7:focus .agile-symbol {
  background: url(../../assets/agile-red.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .agile-symbol {
  background: url(../../assets/agile.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .symbol-container8:hover .team-symbol, .skills > div .symbols .img-symbols .symbol-container8:focus .team-symbol {
  background: url(../../assets/group-red.png);
  background-size: cover;
}

.skills > div .symbols .img-symbols .team-symbol {
  background: url(../../assets/group.png);
  background-size: cover;
}

@media (max-width: 600px) {
  .skills > div .symbols .img-symbols .team-symbol {
    display: none;
  }
}

.skills .education {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 600px) {
  .skills .education {
    width: 100%;
    height: 55%;
    padding-top: 50px;
  }
}

.skills .education h2 {
  -webkit-text-decoration: 5px underline #d00a2b;
          text-decoration: 5px underline #d00a2b;
}

@media (max-width: 900px) {
  .skills .education h2 {
    font-size: 1rem;
  }
}

.skills .education li {
  margin-bottom: 35px;
}

@media (max-width: 900px) {
  .skills .education li {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .skills .education li {
    margin-bottom: 5px;
  }
}

.skills .education li h3 {
  text-align: end;
}

.skills .education li p {
  text-align: end;
}

@media (max-width: 600px) {
  .skills .education li p {
    font-size: 0.85rem;
  }
}

.skills .education li span {
  color: #d00a2b;
}

.skills .fa-chevron-down {
  color: white;
}

.skills .fa-chevron-down:hover {
  color: #d00a2b;
}

.projects {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .app-icon {
  height: 80px;
  width: 80px;
  margin: 20px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .projects .app-icon {
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 5px;
  }
}

.projects .border-logo {
  border: 1px solid #cac9c9;
}

.projects .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 900px) {
  .projects .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.projects .wrapper h2 {
  width: 30%;
  padding: 10px;
  text-align: center;
  -webkit-text-decoration: 5px underline #d00a2b;
          text-decoration: 5px underline #d00a2b;
}

@media (max-width: 1200px) {
  .projects .wrapper h2 {
    font-size: 2rem;
    width: 25%;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .projects .wrapper h2 {
    font-size: 1.25rem;
  }
}

.projects .wrapper .projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 60%;
  padding: 20px;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .projects .wrapper .projects-container {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
  }
}

@media (max-width: 900px) {
  .projects .wrapper .projects-container {
    height: 80%;
  }
}

@media (max-width: 600px) {
  .projects .wrapper .projects-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.projects .wrapper .projects-container .projects-sub-container {
  width: 45%;
  height: 100%;
}

@media (max-width: 1200px) {
  .projects .wrapper .projects-container .projects-sub-container {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .projects .wrapper .projects-container .projects-sub-container {
    width: 100%;
  }
}

.projects .wrapper .projects-container .projects-sub-container .project-brief {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 30%;
  margin-bottom: 30px;
  border-bottom: 1px solid gainsboro;
}

@media (max-width: 1200px) {
  .projects .wrapper .projects-container .projects-sub-container .project-brief {
    margin-bottom: 10px;
  }
}

@media (max-width: 900px) {
  .projects .wrapper .projects-container .projects-sub-container .project-brief {
    width: 100%;
  }
}

.projects .wrapper .projects-container .projects-sub-container .project-brief:hover, .projects .wrapper .projects-container .projects-sub-container .project-brief:focus {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.projects .wrapper .projects-container .projects-sub-container .project-brief:hover button, .projects .wrapper .projects-container .projects-sub-container .project-brief:focus button {
  cursor: pointer;
  color: #d00a2b;
  border: 2px solid #d00a2b;
}

@media (max-width: 900px) {
  .projects .wrapper .projects-container .projects-sub-container .project-brief h3 {
    width: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 1rem;
  }
}

.projects .wrapper .projects-container .projects-sub-container .project-brief p {
  color: gray;
  font-size: 0.85rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .projects .wrapper .projects-container .projects-sub-container .project-brief p {
    width: calc(100% - 75px);
    margin: 0 10px;
  }
}

.projects .wrapper .projects-container .projects-sub-container .project-brief > div {
  width: calc(100% - 64px - 120px);
}

@media (max-width: 900px) {
  .projects .wrapper .projects-container .projects-sub-container .project-brief > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 64px);
  }
}

@media (max-width: 900px) {
  .projects .wrapper .projects-container .projects-sub-container .project-brief > button {
    display: none;
  }
}

.projects .wrapper .projects-container .projects-sub-container button {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.projects .project-detail {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  height: 600px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: -5000px;
  border: 2px solid gray;
  background-color: white;
  overflow-y: scroll;
  -webkit-transition: right 0.5s ease-out;
  transition: right 0.5s ease-out;
  scrollbar-width: none;
}

@media (max-width: 900px) {
  .projects .project-detail {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 600px;
    height: 620px;
  }
}

@media (max-width: 600px) {
  .projects .project-detail {
    width: 360px;
    height: 650px;
  }
}

.projects .project-detail .close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  top: 10px;
  z-index: 5;
}

.projects .project-detail .close:hover, .projects .project-detail .close:focus {
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
}

@media (max-width: 900px) {
  .projects .project-detail h3 {
    font-size: 1rem;
  }
}

.projects .project-detail p {
  font-size: 0.85rem;
}

.projects .project-detail .project-detail-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #cac9c9;
}

@media (max-width: 900px) {
  .projects .project-detail .project-detail-header {
    margin-top: 5px;
    width: 95%;
  }
}

@media (max-width: 600px) {
  .projects .project-detail .project-detail-header {
    height: 30%;
  }
}

.projects .project-detail .project-detail-header .project-detail-header-brief {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

@media (max-width: 900px) {
  .projects .project-detail .project-detail-header .project-detail-header-brief {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 65%;
  }
}

.projects .project-detail .project-detail-header .project-detail-header-brief button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 15px;
  margin-left: 5px;
  height: 30px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.projects .project-detail .project-detail-header .project-detail-header-brief button:hover, .projects .project-detail .project-detail-header .project-detail-header-brief button:focus {
  cursor: pointer;
  color: #d00a2b;
  border: 2px solid #d00a2b;
}

@media (max-width: 600px) {
  .projects .project-detail .project-detail-header .project-detail-header-brief button {
    margin-bottom: 5px;
  }
}

.projects .project-detail .project-detail-header .tech {
  width: 40%;
  margin: 20px;
}

@media (max-width: 900px) {
  .projects .project-detail .project-detail-header .tech {
    width: 35%;
    margin: 10px;
  }
}

@media (max-width: 600px) {
  .projects .project-detail .project-detail-header .tech {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.projects .project-detail .project-detail-header .tech span {
  display: inline-block;
  font-size: 0.85rem;
  border: 2px solid #cac9c9;
  background-color: #cac9c9;
  padding: 3px;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .projects .project-detail .project-detail-header .tech span {
    font-size: 0.75rem;
    margin-right: 3px;
    margin-top: 5px;
  }
}

.projects .project-detail .project-detail-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-top: 5px;
  padding: 5px 0;
}

@media (max-width: 900px) {
  .projects .project-detail .project-detail-main {
    width: 95%;
  }
}

.projects .project-detail .project-detail-main .app-display {
  width: 40%;
  height: auto;
}

@media (max-width: 900px) {
  .projects .project-detail .project-detail-main .app-display {
    width: 20%;
  }
}

@media (max-width: 600px) {
  .projects .project-detail .project-detail-main .app-display {
    display: none;
  }
}

.projects .project-detail .project-detail-main .project-detail-main-desc {
  width: 60%;
  height: auto;
  margin: 0 20px 0 20px;
  padding-left: 20px;
  border-left: 1px solid #cac9c9;
}

@media (max-width: 900px) {
  .projects .project-detail .project-detail-main .project-detail-main-desc {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .projects .project-detail .project-detail-main .project-detail-main-desc {
    width: 100%;
    padding: 0;
    border: none;
  }
}

.projects .project-detail .project-detail-main h3 {
  margin-bottom: 0;
}

.projects .project-detail .project-detail-main p {
  margin-top: 5px;
  line-height: 1.1rem;
}

.projects .project-detail .project-detail-main span {
  -webkit-text-decoration: 2px underline #d00a2b;
          text-decoration: 2px underline #d00a2b;
}

.projects .project-detail .project-detail-main span:hover, .projects .project-detail .project-detail-main span:focus {
  cursor: pointer;
}

.projects .project-detail .project-detail-main .in-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 60%;
  height: 60%;
  top: 30%;
  right: 20%;
  background-color: black;
  opacity: 0.5;
  color: white;
}

.projects .project-detail .project-detail-main .in-progress p {
  font-size: 2.5rem;
}

.projects .fa-chevron-down {
  bottom: 2%;
}

.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .contact > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .content-container {
  width: 30%;
  color: white;
  padding: 0 10px;
}

@media (max-width: 600px) {
  .contact .content-container {
    width: 90%;
  }
}

.contact .content-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .content-container ul i {
  font-size: 2rem;
  color: #d00a2b;
  margin: 0 10px;
}

.contact .content-container ul i:hover, .contact .content-container ul i:focus {
  color: white;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  padding: 0 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  .contact form {
    width: 90%;
  }
}

.contact form .name, .contact form .email {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  background-color: white;
}

.contact form .msg {
  width: 100%;
  padding: 0;
  height: 200px;
  margin: 10px 0;
  background-color: white;
}

.contact form button {
  margin: 10px 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100px;
  height: 50px;
  color: white;
  border: none;
  background-color: #d00a2b;
}

.contact form button:hover, .contact form button:focus {
  cursor: pointer;
  color: #d00a2b;
  border: 3px solid #d00a2b;
  background-color: white;
}

.contact form p {
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  height: 30px;
  color: white;
  font-size: 0.85rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */