@import 'setup';
@import 'variables';
@import 'mixin';

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html {
    width: 100%;
    height: 600vh;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    font-family: $body;
    font-size: $small;
    scrollbar-width: none;
}

h1 {
    font-family: $heading;
    font-size: $x-large;

    @include tabletMQ {
        font-size: $large;
    } 

    @include mobileMQ {
        font-size: $small;
    }
}

h2 {
    font-size: $large;

    @include tabletMQ {
        font-size: $medium;
    }

    @include mobileMQ {
        font-size: $small;
    }
}

h3 {
    @include mobileMQ {
        padding: 0;
        margin: 0;
        font-size: $small;
    }
}

ul {
    list-style: none;
}

a, button {
    transition: color 0.4s ease-out;
}

.wrapper {
    width: 90%;
    max-width: 1600px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right,  $white 0%, $white 75%,$black 75%,$black 100%);

    &>div {
        height: 100%;
        display: flex; 
    }

    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 77.5%;
        height: 100%;

        .logo {
            width: 20%;
            font-size: $large;

            @include smallTabletMQ {
                width: 10%;
            }

            span {
                color: $red;
            }
        }

        nav {
            width: 80%;

            @include mobileMQ {
                display: none;
            }

            ul {
                display: flex;

                li {
                    padding: 20px;

                    @include tabletMQ {
                        padding: 15px;
                    }

                    @include smallTabletMQ {
                        padding: 8px;
                        font-size: $x-small;
                    }
                }

                li:hover a{
                    cursor: pointer;
                    color: $red;
                }

                li:hover{
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    color: $black;
                }
       
                a:visited {
                    color:$black;
                } 
                a:active {
                    color:$black;
                }  

            }
        }
    }

    .sub-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22.5%;
        height: 100%;

        button {
            width: 100px;
            height: 50px;
            color: $white;
            background-color: $red;
            border: none;

            &:hover, &:focus {
                cursor: pointer;
                color: $red;
                background-color: $white;
                border: 2px solid $red;
            }
        }
    }    
}

//each section takes one screen size
section:nth-child(2), section:nth-child(3), section:nth-child(4), section:nth-child(5) {
    width: 100%;
    height: 100vh;
}

section:nth-child(6) {
    height: calc(100vh - 30px);
}

.fa-chevron-down {
    font-size: $large;
    position: absolute;
    bottom: 10%;
    animation: highlight 1.2s linear infinite;

    &:hover, &:focus {
        cursor: pointer;
        color: $red;
        transform: scale(1.5);
    }

    @include mobileMQ {
        display: none;
    }
}

@keyframes highlight {
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}

//first section - home page
.landing {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
    background: linear-gradient(to right,  $white 0%, $white 75%,$black 75%,$black 100%);


    .landing-details {
        padding: 20px;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: right;

        h1 {
            @include mobileMQ {
                font-size: $medium;
            }
        }

        h1, h2 {
            text-align: end;
        }

        p {
            text-align: center;
        }

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            li {
                margin: 0 10px;
            }
        }

        i {
            color: $red;
            font-size: $medium;

            &:hover, &:focus {
                cursor: pointer;
                color: $black;
            }
        }
    }

    .image-container-border {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: calc(12.5vw - 25px);
        right: 12.5vw;
        width: 25vw;
        height: 25vw;
        border: 2px solid white;
        border-radius: 50%;

        @include mobileMQ {
            width: 45vw;
            height: 45vw;
        }

        .image-container {
            background-image: url(../../assets/header.jpg);
            background-size: cover;
            position: absolute;
            width: 23vw;
            height: 23vw;
            border-radius: 50%; 

            @include mobileMQ {
                width: 40vw;
                height: 40vw;
            }
        }
    }
}

//second section - about me page
.intro {
    position: relative;
    display: flex;
    justify-content: center;

    &>div {
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobileMQ {
            flex-direction: column;
        }

        .image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;

            @include mobileMQ {
                width: 100%;
            }

           .profile-image {
                width: 150px;
                height: 172px;
                margin: 8px;

                @include smallTabletMQ {
                    width: 100px;
                    height: 115px;
                    margin: 6px;
                }
           }

            .samsung:hover, .flight-centre:hover{
                cursor: pointer;
                transform: scale(1.1);
            }

            &>div {
                display: flex;
                flex-direction: column;

                img {
                    width: 150px;
                    height: 150px;
                    margin: 8px;

                    @include smallTabletMQ {
                        width: 100px;
                        height: 100px;
                        margin: 6px;
                    }
                }
            }
        }

        .contents {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;

            @include mobileMQ {
                width: 100%;
                order: -1;
            }

            h1 {
                @include mobileMQ {
                    font-size: $small-medium;
                }
            }

            p {
                text-align: center;
                line-height: 1.5rem;
                padding: 0 10px;

                strong {
                    font-weight: bold;
                    
                }

                @include mobileMQ {
                    font-size: $x-small;
                }
            }

            span {
                color: $red;
            }
        }
    }
}

.skills {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,  $black 0%, $black 71%,$white 71%,$white 100%);

    @include mobileMQ {
        background: linear-gradient(to bottom,  $black 0%, $black 45%,$white 45%,$white 100%);
    }

    &>div {
        display: flex;

        @include mobileMQ {
            flex-direction: column;
            height: 100%;
        }

        .ability {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: calc(75vw - 5%);

            @include mobileMQ {
                width: 100%;
                height: 45%;
            }

            h1 {
                color: $white;
                width: 85%;

                span {
                    color: $red;
                }
            }
        }

        .symbols {
            width: 85%;
            display: flex;
            flex-direction: column;

            @include mobileMQ {
                 width: 100%;
            }

             .img-symbols {
                 display: flex;
                 flex-wrap: wrap;
                 justify-content: center;

                .last-child-symbol {
                    @include mobileMQ {
                        display: none;
                    }
                }

                &>div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 70px;
                    height: 75px;
                    background-color: $white;
                    border-radius: 10px;
                    border: 2px solid $white;
                    margin: 10px;

                    @include tabletMQ {
                        font-size: $x-small;
                        width: 60px;
                        height: 75px;
                        margin: 5px;
                    }

                    @include mobileMQ {
                        width: 55px;
                        height: 65px;
                        margin: 2px;
                    }

                    &:hover, &>:focus {
                        color: $red;
                        border: 2px solid $red;
                        transform: scale(1.1);
                    }

                    &>div {
                        width: 55px;
                        height: 55px;
                        z-index: 2;
                    }
                }

                i {
                    font-size: 55px;

                    @include tabletMQ {
                        font-size: 50px;
                    }
                }

                span {
                    font-size: $x-small;
                }

                .jquery-symbol {
                    background: url(../../assets/jquery.png);
                    background-size: cover;

                    &:hover, &:focus {
                        background: url(../../assets/jquery-red.png);
                        background-size: cover;
                    }
                }
                            
                .firebase-symbol {
                    background: url(../../assets/firebase.png);
                    background-size: cover;

                    &:hover, &:focus {
                        background: url(../../assets/firebase-red.png);
                        background-size: cover;
                    }
                }
                
                .api-symbol {
                    background: url(../../assets/api.png);
                    background-size: cover;

                    &:hover, &:focus {
                        background: url(../../assets/api-red.png);
                        background-size: cover;
                    }
                }
                
                .nodejs-symbol {
                    background: url(../../assets/node.png);
                    background-size: cover;

                    &:hover, &:focus {
                        background: url(../../assets/node-red.png);
                        background-size: cover;
                    }
                }
                
                .res-symbol {
                    background: url(../../assets/responsive.png);
                    background-size: cover;

                    &:hover, &:focus {
                        background: url(../../assets/responsive-red.png);
                        background-size: cover;
                    }
                }
                
                .acc-symbol {
                    background: url(../../assets/accessibility.png);
                    background-size: cover;

                    &:hover, &:focus {
                        background: url(../../assets/accessibility-red.png);
                        background-size: cover;
                    }
                }
                
                .agile-symbol {
                    background: url(../../assets/agile.png);
                    background-size: cover;

                    &:hover, &:focus {
                        background: url(../../assets/agile-red.png);
                        background-size: cover;
                    }
                }
                
                .team-symbol {
                    background: url(../../assets/group.png);
                    background-size: cover;
                    
                    &:hover, &:focus {
                        background: url(../../assets/group-red.png);
                        background-size: cover;
                    }

                    @include mobileMQ {
                        display: none;
                    }
                }
            }
        }
    }

    .education {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include mobileMQ {
            width: 100%;
            height: 55%;
            padding-top: 50px;
        }

        h2 {
            text-decoration: 5px underline $red;

            @include smallTabletMQ {
                font-size: $small;
            }
        }

        li {
            margin-bottom: 35px;

            @include smallTabletMQ {
                margin-bottom: 20px;
            }

            @include mobileMQ {
                margin-bottom: 5px;
            }

            h3 {
                text-align: end;
            }

            p {
                text-align: end;

                @include mobileMQ {
                    font-size: $x-small;
                }
            }

            span {
                color: $red;
            }
        }
    }

    .fa-chevron-down {
        color: $white;

        &:hover{
             color: $red;
        }
    }
}

.projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        height: 100%;
        display: flex;
        align-items: center;

        @include smallTabletMQ {
            flex-direction: column;
        }

        h1 {
            width: 30%;
            padding: 10px;
            text-align: center;
                

            span {
                color: $red;
            }

            @include tabletMQ {
                width: 25%;
                text-align: center;
            }

            @include smallTabletMQ {
                font-size: $medium;
                order: -1;
            }

            @include mobileMQ {
                font-size: $small;
            }
        }

        h2 {
            font-size: $medium;
            margin-top: 0;

            @include tabletMQ {
                font-size: $small-medium;
                margin-bottom: 10px;
            }

            @include mobileMQ {
                font-size: $small;
            }
        }
        
        p {
            font-weight: 400;

             @include tabletMQ {
                font-size: $x-small;
            }
        }

        .projects-container {
            width: 70%;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            @include tabletMQ {
                width: 75%;
            }

            @include smallTabletMQ {
                width: 90%;
            }

            @include mobileMQ {
                padding: 5px;
                height: 70%;
            }

            .project-detail-up, .project-detail-down {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 42%;
                margin: 0 4%;
                padding: 10px;

                .description {
                    width: calc(100% - 330px);
                    padding:0 20px;
                    display: flex;
                    flex-direction: column;

                    @include tabletMQ {
                        width: calc(100% - 250px);
                    }

                    @include mobileMQ {
                        width: 100%;
                        margin: 0;
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-wrap: wrap;

                        div {
                            margin: 2px 3px;
                            border: 2px solid $red;
                            border-radius: 3px;
                            color: $red;
                            padding: 3px;

                            @include tabletMQ {
                                font-size: $x-small;
                            }
                        }
                    }
                }
            }

            .project-detail-up {
                border-right: 3px solid gray;
            }

            .project-detail-down {
                border-left: 3px solid gray;
            }

            img {
                width: 330px;
                height: 200px;

                @include tabletMQ {
                    width: 250px;
                    height: 200px;
                }
            }

            .image-container {
                width: 330px;
                height: 200px;

                @include tabletMQ {
                    width: 250px;
                    height: 200px;
                }

                @include mobileMQ {
                    display: none;
                }

                &:hover, &:focus {
                    cursor: pointer;
                    opacity: 0.5;
                }
            }

            span {
                color: $red;
            }

            .cam:hover, .fern:hover, .mel:hover, .jess:hover{
                cursor: pointer;
                color: $black;
            }
        }
    }

    .live-view {
        width: 100px;
        height: 50px;
        margin-right: 20px;
        background-color: $black;
        font-size: medium;
        color: $white;
        border: none;

        &:hover, &:focus {
            cursor: pointer;
            color: $red;
        }

        @include smallTabletMQ {
            width: 60px;
            height: 30px;
        }
    }

    .git-repo {
        width: 100px;
        height: 50px;
        border: 3px solid $black;
        background-color: $white;
        font-size: medium;

        &:hover, &:focus {
            cursor: pointer;
            color: $red;
            border: 3px solid $red;
        }

         @include smallTabletMQ {
            width: 60px;
            height: 30px;
        }
    }

    .fa-chevron-down {
        bottom: 2%;
    }
}

.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;

    &>div {
        display: flex;
        align-items: center;

        @include mobileMQ {
            flex-direction: column;
        }
    }

    .content-container {
        width: 30%;
        color: $white;
        padding: 0 10px;

        @include mobileMQ {
            width: 90%;
        }
            
        ul {
            display: flex;

            i {
                font-size: $medium;
                color: $red;
                margin: 0 10px;

                &:hover, &:focus {
                    color: $white;
                }
            }
        }
    }

    form {
        display: flex;
        width: 70%;
        padding: 0 10%;
        flex-direction: column;

        @include mobileMQ {
            width: 90%;
        }

        .name, .email {
            height: 40px;
            margin: 10px 0 ;
        }

        .msg {
            height: 200px;
            margin: 10px 0 ;
        }

        button {
            margin: 10px 0 ;
            align-self: center;
            width: 100px;
            height: 50px;
            color: $white;
            border: none;
            background-color: $red;

            &:hover, &:focus {
                cursor: pointer;
                color: $red;
                border: 3px solid $red;
                background-color: $white;
            }
        }

        p {
            color: $white;
        }
    }
}
footer {
    background-color: $black;
    height: 30px;
    color: $white;
    font-size: $x-small;
    text-align: center;
}
